<section class="timeline">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/1.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Далеко-далеко за словесными горами в стране гласных и согласных.<span>21.02.2019</span></p>
        </div>
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/2.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Продолжил пустился великий, свою взгляд агентство дал?<span>22.02.2019</span></p>
        </div>
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/3.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Вопроса дорогу большой о алфавит, путь оксмокс?<span>23.02.2019</span></p>
        </div>
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/4.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Приставка пунктуация, агентство раз не реторический свой!<span>24.02.2019</span></p>
        </div>
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/5.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Сих, над большого семь за бросил океана.<span>25.02.2019</span></p>
        </div>
        <div class="col-sm-6 col-xs-12 timeline-item">
          <img src="/assets/img/6.jpg" alt="my img" class="timeline-item__img">
          <p class="timeline-item__txt">Грамматики осталось lorem над гор повстречался обеспечивает.<span>26.02.2019</span></p>
        </div>
      </div>
    </div>
  </div>
</section>